
.flex-item {
    background: rgb(190, 172, 152);
    min-width: 50px;
    min-height: 50px;
    border: 2px solid black;
}

.flex-container {
    display: flex;
    justify-content:space-around;
    align-items: stretch;

    border: 2px solid black;
    height: 200px;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


  border: 2px solid black;
  height: 200px;
}

#special {
    flex-grow: 1;
}

/* Can change the direction back to column, but it means thr MAIN AXIS switches */